<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.solvehunterdoctors.solution.hamza.solvehunterdoctors">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppNoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ProfileActivity"
            android:label="profile"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllCommentsActivity"
            android:label="Comments" />
        <activity
            android:name=".PendingPostsActivity"
            android:label="pending posts"
            />
        <activity
            android:name=".AddDoctorActivity"
            android:label="Add doctor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AllDoctorsActivity"
            android:label="all doctors" />
        <activity
            android:name=".AllUsersActivity"
            android:label="all users" />
        <activity
            android:name=".DocProfileActivity"
            android:label="profile"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".ChattingActivity"
            android:label="chatting" />
        <activity
            android:name=".EditeProfileActivity"
            android:label="Edit profile" />
        <activity
            android:name=".AdminUsersViewActivity"
             />
        <activity android:name=".UserDataActivity" />
        <activity android:name=".ChangePasswordActivity"></activity>
    </application>

</manifest>